{% extends "base.html" %}

{% block title %}Perfil de {{ user.nick }} - GameLibrary{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- HERO -->
    <div class="hero d-sm-flex align-items-end p-4 shadow-lg" 
         style="background-image: url('{{ user.cover_url or 'https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2868840/header.jpg?t=1761875177' }}');">
        <div>
            <h1 class="fw-bold">{{ user.nick }}</h1>
            <p class="fs-5">Bienvenido a tu perfil</p>
        </div>
    </div>

    <!-- Últimos videojuegos añadidos por el usuario -->
    <h2 class="section-title">Mis videojuegos</h2>
    <div class="carousel-row">
        {% for game in user.videogames %}
        <div class="game-card">
            <img class="game-img" src="{{ game.cover_url }}">
            <div class="p-2">{{ game.title }}</div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
