.genre {
    height: 260px;
    width: 1100px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.genre:hover {
    transform: scale(1.05);
}

.genre h1 {
    color: white;
    text-shadow:
        -2px -2px 0 #000,
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
    text-align: center;
}

.description {
    height: 260px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.genre_description {
    height: 260px;
    border-radius: 20px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.genre_description h1 {
    color: white;
}