.genre {
    height: 260px;
    width: 1100px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.genre:hover {
    transform: scale(1.05);
}

.genre h1 {
    color: white;
    text-shadow:
        -2px -2px 0 #000,
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
    text-align: center;
}

.description {
    height: 260px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.genre_description {
    height: 260px;
    border-radius: 20px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.genre_description h1 {
    color: white;
}

/* .game-card {
    height: 200px;
    width: 300px;
    background-color: #212529;
    border-radius: 30px;
}

.game-img {
    height: 250px;
    object-fit: cover;
    width: 100%;
} */

.game img {
    transition: transform 0.3s ease;
}

.game:hover img {
    transform: scale(1.05);
}

/* ---------- HOME -------- */

body {
    background-color: #0f0f0f;
    color: white;
}
.hero {
    height: 260px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-image: url('https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2868840/header.jpg?t=1761875177');
}
.game-card {
    min-width: 180px;
    border-radius: 12px;
    overflow: hidden;
    background: #1a1a1a;
    transition: transform .2s;
}
.game-card:hover {
    transform: scale(1.05);
}
.game-img {
    height: 250px;
    object-fit: cover;
    width: 100%;
}
.carousel-row {
    overflow-x: auto;
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
}
.carousel-row::-webkit-scrollbar {
    height: 8px;
}
.carousel-row::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}
.section-title {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: bold;
}